<head>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <div id="header" style="width: 99%; height: 50; position: absolute; top: 5;background-color: black; display: flex;"> 
        <h1 style="width: auto; background-color: wheat; height: 100%;margin: 0 0;width: 25%;">Settings</h1> 
        <div id="right" style="right: 0;position: absolute;height: 100%;width: 25%;display: flex; justify-content: right;background-color: darkblue;">
            <button id="profile" class="rightbutton" onclick="redirect('usr')"><img src="/Images/profilephoto.jpeg"></button>
        </div>
    </div>
    
    <div style="position: absolute; width: 24%; align-items: center;text-align: center; height: 92%;position: absolute; top: 65;">
    </div>
    <div style="background-color: rgba(0, 0, 0, 0.2);width: 5; height: 92%;position: absolute; top: 65;left: 25%;border-radius: 20px;"></div>
    <div style="position: absolute; width: 74%;right: 0;  height: 92%;position: absolute; top: 65;" class="scroll" id="topics">
    </div>
    <script src="redirects.js"></script>
</body>