<head>
    <link rel="stylesheet" href="style.css">
</head>
<body style="margin: auto; height: 100%;overflow: hidden; ">
    <div id="header" style="width: 99%; height: 50; position: absolute; top: 5;background-color: black; display: flex;"> 
        <h1 style="width: auto; background-color: wheat; height: 100%;margin: 0 0;width: 25%;">Home</h1> 
        <div id="right" style="right: 0;position: absolute;height: 100%;width: 25%;display: flex; justify-content: right;background-color: darkblue;">
            <button id="settings" class="rightbutton" onclick="redirect('settings')"><img src="/Images/settingsgear.png"></button>
            <button id="profile" class="rightbutton" onclick="redirect('usr')"><img src="/Images/profilephoto.jpeg"></button>
        </div>
    </div>
    <div style="position: absolute; width: 24%; align-items: center;text-align: center;min-height: 98%;">
        <h1 id="usrname">test</h1>
        <h2 id="tcorrect">Total Correct: 50</h2>
        <h2 id="twrong">Total Wrong: 50</h2>
        <h2 id="total">Total Answered: 50</h2>
        <h2 id="adverage">Adverage score: 50</h2>
        <h2 id="Topics">Topics tried: 50</h2>
        <h2 id="Passed">Topics Passed: 50</h2>
    </div>
    <div style="background-color: rgba(0, 0, 0, 0.2);width: 5; height: 96%;position: absolute; top: 2%;left: 25%;border-radius: 20px;"></div>
    <div style="position: absolute; width: 74%;right: 0; height: inherit;" class="scroll" id="topics">
        <div> 
            <h2 style="height: 15;">ITF+</h2>
            <div style="margin: 15 25;width: 210;height: 100;">
                <p style="height: 6;">Practice test percent: 5</p>
                <p style="height: 6;">Total Answered: 5</p>
                <p style="height: 6;">Total Correct: 5</p>
                <p style="height: 6;">Total Wrong: 5</p>
            </div>
            <div style="background-color: rgba(0, 0, 0, 0.2);width: 5; height: 100;position: absolute; top: 60;left: 235;border-radius: 20px;"></div>
            <div id="Work" style="position: absolute;left: 245;top: 60;width: 78.5%;height: 100;" class="scroll">
                <p>Unit 1</p>
            </div>
        </div>

    </div>
    <script src="redirects.js"></script>
</body>